{# templates/index.html.twig #}
{# @var form \Symfony\Component\Form\FormView #}
{# @var loanData array #}
{# @var formErrors array|string[] #}

{% extends 'base.html.twig' %}

{% block body %}
	<script>
		window.onload = function() {

			document.querySelector('#download').addEventListener('click', function(e) {
				let frm = document.querySelector('form')
				let newForm = frm.cloneNode(true)
				newForm.id = 'loanschdule';
				newForm.name = 'loanschedule'
				newForm.target = '_blank';
				newForm.loan_asPdf.value = '1'
				newForm.classList.add('d-none')
				document.body.appendChild(newForm);
				newForm.submit();
			})
		}
	</script>
	
	<div class="container w-50 mt-2 border">
		<div class="form-row">
			<div class="col-sm-6 offset-sm-3 text-center">
				<h3 class="text-primary">Loan Estimation Tool</h3>

				<p class="text-secondary">Fill out the short form below to get a quick estimate on a loan</p>

				<div class="content">
					{{ form(form) }}
				</div>
			</div>
		</div>
	</div>

	<div class="results">
	{% if formErrors %}
		<div class="container w-50 mt-2">
			{% for error in formErrors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</div>
	{% elseif loanData %}
		<div class="container w-50 mt-2 mb-5">
			<div class="text-center">
				<h4 class="text-success">Your Estimated loan</h4>
				<div>
					<table class="table table-borderless">
						<tbody>
						<tr>
							<td class="no-border">Loan:<br>${{ loanData.amount }}</td>
							<td class="no-border">Rate:<br>{{ loanData.interestRate }}%</td>
							<td class="no-border">Origination Fee:<br>${{ loanData.fee }}</td>
						</tr>
						<tr>
							<td class="no-border">Payment<br>${{ loanData.payment }}</td>
							<td class="no-border">APR<br>TBD</td>
							<td class="no-border">Interest<br>${{ loanData.interest|number_format(2) }}</td>
							<td class="no-border"></td>
						</tr>
						</tbody>
					</table>
				</div>
				
				<div class="mb-3 mp-2">
					<button 
						class="btn btn-success btn-sm" 
						type="button" 
						data-toggle="collapse" 
						data-target="#collapse-container" 
						aria-expanded="false" 
						aria-controls="collapse-container">
						Show Amortization
					</button>
					<button
						class="btn btn-info btn-sm"
						id="download"
						type="button">
						View/Print
					</button>
				</div>
			</div>
			
			<div class="collapse" id="collapse-container">
				<table class="table table-striped table-condensed mb-4">
					<thead>
					<tr>
						<th scope="col">Payment</th>
						<th scope="col">Interest</th>
						<th scope="col">Principal</th>
						<th scope="col">Balance</th>
					</tr>
					</thead>
					<tbody>
					{% for term in loanData.schedule %}
						<tr>
							<td>${{ term.payment|number_format(2) }}</td>
							<td>${{ term.interest|number_format(2) }}</td>
							<td>${{ term.principal|number_format(2) }}</td>
							<td>${{ term.balance|number_format(2) }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}
	</div>

{% endblock %}
